*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    background: rgb(56, 93, 254);
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 30px;
    margin-left: 2%;
}

.main{
    width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-content{
    width: 75%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,84,89,1) 34%, rgba(0,147,255,1) 100%);
}

.left-content .news{
    width: 60%;
    margin: 40px auto;

}

.news a{
    text-decoration: none;
}
.news a p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
    margin: 3% 0;
    color: #fff;
}
.right-content{
    width: 20%;
    position: fixed;
    right: 4%;
}

.list{
   width: 100%;
   height: 70px;
   margin-top: 10px;
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
   background-color: #ccc;
   cursor: pointer;
}
.list:hover{
    background-color: #8f8f8f ;
}

.list a{
    text-decoration: none;
    position: relative;
    top: 25%;
    color: #fff;
    font-size: 30px;
}

.rightup{
    padding: 5% 0;
    border-bottom:1px solid #444 ;
}

.right-down{
    margin-top:10% ;
}



.contact{ 
    width: 100%;
    height: 500px;
}

.detail{
    background: #676767;
    width: 75%;
    height: 100%;
    text-align: center;
}


.subdetail{
    position: relative;
    top: 40%;
    margin-top: 4px;
}
.subdetail i{
   width: 20px;
}
.subdetail a{
   color: #fff;
}



@media screen and (max-width:1107px) {
    .news a img{
        width: 500px;
    }
    .news a p{
        font-size:30px ;
        font-weight: 200;
    } 
}
@media screen and (max-width:843px) {
    .news a img{
        width: 400px;
    }
    .news a p{
        font-size:30px ;
        font-weight: 200;
    } 
}
@media screen and (max-width:688px) {
    .news a img{
        width: 300px;
    }
    .news a p{
        font-size:30px ;
        font-weight: 200;
    } 
}
@media screen and (max-width:515px) {
    .news a img{
        width: 300px;
    }
   .right-content{
     display: none;
   }
   .left-content{
    width: 100%;
   }
.detail{
    width: 100%;
}
   
}

@media screen and (max-width:382px) {
    .news a img{
        width: 200px;
    }


}
